html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.myClass {
    background-color:aqua;
    border-radius: 15px;
}

.video-div  {
    height:400px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

p {
    text-align:center;
}

button {
    background-color: transparent;
    border: 3px solid aqua;
    border-radius: 15px;
    padding:10px;
    text-transform: uppercase; 
    animation: pulse 2s infinite;
}

@keyframes pulse{
    0% {
        box-shadow: 0 0 0 0 rgb(0, 255, 255,0.5);
    }
    100% {
        box-shadow: 0 0 0 15px rgb(0, 255, 255,0);
    }
  
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-2px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(4px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-8px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(8px, 0, 0);
    }
}

.apply-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

